<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/head.ejs") %>
    <body>
        <%- include("../../partials/navbar.ejs") %>
        <main>
            <section class="section site-portfolio bg-dark">
                <div class="container d-flex justify-content-center mt-4 mb-4">
                    <div class="card text-center">
                        <div class="card-header" style="width: 18rem;"><br>
                            <p class="fs-4">Editar usuário</p>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/users/update">
                                <br>
                                <input class="form-control" name="name" type="name" placeholder="Nome" value="<%= user.name %>">
                                <br>
                                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com" value="<%= user.email %>">
                                <br>
                                <input class="form-control" name="password" type="password" placeholder="Senha" required>
                                <br>
                                <input class="form-control" name="passwordCheck" type="password" placeholder="Confirmar senha" required>
                                <br>
                                <input type="hidden" name="id" value="<%=user.id %>"> 
                                <button type="submit" class="btn btn-success btn-block">Atualizar</button>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
            <%- include("../../sections/03_footer.ejs") %>
        </main>
    </body>
    <%- include("../../partials/footer.ejs") %>
</html>